body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    user-select: none; /* Désactiver la sélection de texte */
    -webkit-user-select: none; /* Désactiver la sélection de texte pour Safari */
    -ms-user-select: none; /* Désactiver la sélection de texte pour Internet Explorer/Edge */
}
a {
    text-decoration: none;
}
.platform-game {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #e0e8ff;
    overflow: hidden;
}

.player {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #FFD700; /* Changer la couleur en jaune */
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transition: transform 0.2s;
    z-index: 1;
}

.player::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    z-index: -1;
    pointer-events: none;
}

.player.admin {
    border: 2px solid #87CEEB; /* Bordure bleu ciel pour le mode admin */
}

.block {
    position: absolute;
    top: -50px; /* Commencer au-dessus de l'écran */
    left: 50%; /* Positionner au centre */
    transform: translateX(-50%);
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
    text-align: center;
    border-radius: 10px;
}

.modal-content .btn {
    position: static; /* Réinitialiser la position absolue */
    margin: 20px auto 0; /* Centrer le bouton et ajouter une marge en haut */
    display: block; /* Centrer le bouton */
}

.empty-modal .modal-content {
    width: 300px;
    height: 200px;
}

.btn {
    background-color: #003366;
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s;
    margin-left: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn:hover {
    background-color: #9BD47D;
    color: #fff;
    transform: translateY(-2px);
}

.btn:active {
    background-color: #4B9720;
    color: #fff;
    transform: translateY(1px);
}

.score-container {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.score, .timer, .record {
    font-size: 18px;
    color: #003366;
    margin: 0 10px;
}

.pause-hint {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    z-index: 10; /* Mettre la bulle "Échap pour faire pause" au-dessus de la boule */
}

.game-header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 200%;
    height: 100px; /* Réduire la hauteur pour créer un demi-cercle plus petit */
    background-color: rgba(192, 216, 255, 0.8); /* Couleur légèrement plus claire que le fond avec opacité */
    border-bottom-left-radius: 100%; /* Créer un demi-cercle */
    border-bottom-right-radius: 100%; /* Créer un demi-cercle */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    z-index: 10; /* Mettre le header au-dessus de la boule */
}

.obstacle {
    position: absolute;
    width: 100px; /* Augmenter la largeur pour le texte */
    height: 50px; /* Taille des carrés */
    background-color: #003366; /* Couleur bleu foncé */
}

.red-obstacle {
    position: absolute;
    width: 200px; /* Augmenter la largeur pour le texte */
    height: 100px; /* Taille des rectangles */
    background-color: #E8871E; /* Couleur E8871E */
}

.yellow-obstacle {
    position: absolute;
    width: 150px; /* Augmenter la largeur pour le texte */
    height: 75px; /* Taille des rectangles */
    background-color: #4B9720; /* Couleur 4B9720 */
}

.obstacle{
    color: #FFFFFF; /* Couleur du texte en blanc */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(5px + 0.4vw); /* Réduire encore la taille du texte */
    text-align: center;
    overflow: hidden;
    border-radius: 10px; /* Arrondir les bords des blocs */
    clip-path: inset(0 round 10px); /* Arrondir la hitbox des blocs */
    white-space: normal; /* Permettre le retour à la ligne */
    word-wrap: break-word; /* Casser les mots longs */
    width: auto; /* Adapter la largeur au texte */
    height: auto; /* Adapter la hauteur au texte */
    padding: 10px; /* Ajouter du padding pour le texte */
    box-sizing: border-box; /* Inclure le padding dans la taille totale */
}

.red-obstacle, .yellow-obstacle {
    color: #FFFFFF; /* Couleur du texte en blanc */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 0.4vw); /* Réduire encore la taille du texte */
    text-align: center;
    overflow: hidden;
    border-radius: 10px; /* Arrondir les bords des blocs */
    clip-path: inset(0 round 10px); /* Arrondir la hitbox des blocs */
    white-space: normal; /* Permettre le retour à la ligne */
    word-wrap: break-word; /* Casser les mots longs */
    width: auto; /* Adapter la largeur au texte */
    height: auto; /* Adapter la hauteur au texte */
    padding: 10px; /* Ajouter du padding pour le texte */
    box-sizing: border-box; /* Inclure le padding dans la taille totale */
}

.red-obstacle, .yellow-obstacle {
    color: #000000; /* Couleur du texte en noir */
}

.obstacle, .red-obstacle, .yellow-obstacle {
    font-size: calc(1vw + 1vh + 0.5vmin); /* Adapter la taille du texte à la taille de l'écran */
    width: auto; /* Adapter la largeur au texte */
    height: auto; /* Adapter la hauteur au texte */
    padding: 1vw; /* Adapter le padding à la taille de l'écran */
    box-sizing: border-box; /* Inclure le padding dans la taille totale */
}

.obstacle span, .red-obstacle span, .yellow-obstacle span {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: calc(8px + 0.8vw); /* Taille du texte adaptée à la taille de l'écran */
}

.info-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.info-table th, .info-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.info-table th {
    background-color: #f2f2f2;
    color: #333;
}

.table-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1001; /* Mettre le tableau au-dessus de tout */
}

@media (max-width: 768px) {
    .obstacle {
        width: 50px; /* Réduire la largeur pour les téléphones */
        height: 25px; /* Réduire la hauteur pour les téléphones */
    }

    .red-obstacle {
        width: 100px; /* Réduire la largeur pour les téléphones */
        height: 50px; /* Réduire la hauteur pour les téléphones */
    }

    .yellow-obstacle {
        width: 75px; /* Réduire la largeur pour les téléphones */
        height: 37.5px; /* Réduire la hauteur pour les téléphones */
    }

    .obstacle, .red-obstacle, .yellow-obstacle {
        font-size: calc(0.8vw + 0.8vh + 0.4vmin); /* Adapter la taille du texte à la taille de l'écran pour les téléphones */
        white-space: normal; /* Permettre le retour à la ligne */
        word-wrap: break-word; /* Casser les mots longs */
        width: auto; /* Adapter la largeur au texte pour les téléphones */
        height: auto; /* Adapter la hauteur au texte pour les téléphones */
        padding: 0.8vw; /* Adapter le padding à la taille de l'écran pour les téléphones */
        box-sizing: border-box; /* Inclure le padding dans la taille totale */
    }

    .obstacle span, .red-obstacle span, .yellow-obstacle span {
        font-size: calc(6px + 0.8vw); /* Taille du texte adaptée à la taille de l'écran pour les téléphones */
    }
}

.pause-modal .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.pause-modal .close-btn:hover {
    background-color: #f2f2f2;
}

.close-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1001; /* Mettre le bouton au-dessus de tout */
}

.close-btn:hover {
    background-color: #f2f2f2;
}

.password-input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}
