body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    user-select: none; /* Désactiver la sélection de texte */
    -webkit-user-select: none; /* Désactiver la sélection de texte pour Safari */
    -ms-user-select: none; /* Désactiver la sélection de texte pour Internet Explorer/Edge */
}
a {
    text-decoration: none;
}
.platform-game {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #e0e8ff;
    overflow: hidden;
}

.player {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #FFD700; /* Changer la couleur en jaune */
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transition: transform 0.2s;
    z-index: 1;
}

.player::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    z-index: -1;
    pointer-events: none;
}

.block {
    position: absolute;
    background-color: #0000FF; /* Couleur bleue */
    top: -50px; /* Commencer au-dessus de l'écran */
    left: 50%; /* Positionner au centre */
    transform: translateX(-50%);
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
    text-align: center;
    border-radius: 10px;
}

.modal-content .btn {
    position: static; /* Réinitialiser la position absolue */
    margin: 20px auto 0; /* Centrer le bouton et ajouter une marge en haut */
    display: block; /* Centrer le bouton */
}

.empty-modal .modal-content {
    width: 300px;
    height: 200px;
}

.btn {
    background-color: #003366;
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s;
    margin-left: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn:hover {
    background-color: #9BD47D;
    color: #fff;
    transform: translateY(-2px);
}

.btn:active {
    background-color: #4B9720;
    color: #fff;
    transform: translateY(1px);
}

.score-container {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.score, .timer, .record {
    font-size: 18px;
    color: #003366;
    margin: 0 10px;
}

.pause-hint {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    z-index: 10; /* Mettre la bulle "Échap pour faire pause" au-dessus de la boule */
}

.game-header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 200%;
    height: 100px; /* Réduire la hauteur pour créer un demi-cercle plus petit */
    background-color: rgba(192, 216, 255, 0.8); /* Couleur légèrement plus claire que le fond avec opacité */
    border-bottom-left-radius: 100%; /* Créer un demi-cercle */
    border-bottom-right-radius: 100%; /* Créer un demi-cercle */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    z-index: 10; /* Mettre le header au-dessus de la boule */
}

.obstacle {
    position: absolute;
    width: 100px; /* Augmenter la largeur pour le texte */
    height: 50px; /* Taille des carrés */
    background-color: #003366; /* Couleur bleu foncé */
}

.red-obstacle {
    position: absolute;
    width: 200px; /* Augmenter la largeur pour le texte */
    height: 100px; /* Taille des rectangles */
    background-color: #FF0000; /* Couleur rouge */
}

.yellow-obstacle {
    position: absolute;
    width: 150px; /* Augmenter la largeur pour le texte */
    height: 75px; /* Taille des rectangles */
    background-color: #FFFF00; /* Couleur jaune */
}

.obstacle, .red-obstacle, .yellow-obstacle {
    color: #FFFFFF; /* Couleur du texte en blanc */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px; /* Taille du texte adaptée pour ne pas dépasser */
    text-align: center;
    overflow: hidden;
}

.red-obstacle, .yellow-obstacle {
    color: #000000; /* Couleur du texte en noir */
}

.info-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.info-table th, .info-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.info-table th {
    background-color: #f2f2f2;
    color: #333;
}

.table-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1001; /* Mettre le tableau au-dessus de tout */
}
