/* Reset and base rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
    padding-top: 80px;
}

/* Header */
header, #main-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #003366;
    color: #fff;
    padding: 15px 40px;
    display: flex;
    justify-content: center;
    transition: top 0.3s, opacity 0.3s, transform 0.3s ease;
    z-index: 1000;
}

header.hidden, #main-header.hidden {
    transform: translateY(-100%);
    opacity: 0;
}


nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* CV Container */
.cv-container {
    display: flex;
    max-width: 1100px;
    margin: 100px auto;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.section {
    padding: 20px 40px; /* 20px de padding en haut et en bas, 40px à gauche et à droite */
    margin: 20px 0; /* Espace entre les sections */
}

.left-section, .right-section {
    padding: 30px;
    background-color: #e0e8ff;
}

.left-section {
    width: 30%;
    margin-right: 20px;
}

.right-section {
    width: 70%;
    margin-left: 20px;
    background-color: #fefefe;
}

/* Buttons */
.btn, .btn-download {
    background-color: #003366;
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s;
    margin-right: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn:hover, .btn-download:hover {
    background-color: #002244;
    transform: translateY(-2px);
}

.btn:active, .btn-download:active {
    background-color: #00336685;
    transform: translateY(1px);
}

/* Accueil */
#accueil {
    background-color: #e6e6ff;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
}

/* Formations */
#formations {
    margin: 30px 0;
}

.formation-card {
    width: 250px;
    height: 300px;
    perspective: 1000px;
    margin: 20px;
}

.formation-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.formation-card:hover .formation-inner {
    transform: rotateY(180deg);
}

.formation-front, .formation-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.formation-front {
    background-color: #e0c18b;
    color: #fff;
}

.formation-back {
    background-color: #003366;
    color: #fff;
    transform: rotateY(180deg);
}

/* Timeline */
#timeline {
    padding: 40px 0;
    background-color: #f4f4f9;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 50px;
}

.timeline::before {
    content: '';
    position: absolute;
    left: 30px; /* Ajuster pour un meilleur alignement */
    top: 0;
    bottom: 0;
    width: 4px;
    background-color: #003366;
}

.timeline-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0; /* Augmenter l'espacement vertical */
    position: relative;
    cursor: pointer;
    margin-left: 50px;
    margin-bottom: 30px; /* Ajout d'espacement entre les éléments */
    transition: transform 0.2s ease; /* Ajout d'une légère animation */
}

.timeline-item:hover {
    transform: scale(1.02); /* Effet de zoom léger au survol */
}

.timeline-item .date {
    font-size: 1.5em;
    font-weight: bold;
    margin-right: 20px;
    color: #003366; /* Couleur de la date */
}

.timeline-item .details {
    display: none;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 100px;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    z-index: 10;
    opacity: 0; /* Commencer invisible pour l'animation */
    transition: opacity 0.4s ease; /* Animation de l'opacité */
}

.timeline-item:hover .details {
    display: block;
    opacity: 1; /* Afficher le détail au survol */
}

/* Animation pour les détails */
.timeline-item:hover .details {
    animation: fadeIn 0.4s forwards; /* Animation d'apparition */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px); /* Légère translation vers le haut */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Realisations */
#projets {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    margin: 40px 0;
}

.realisation-card {
    width: 30%;
    margin-bottom: 40px;
    padding: 20px;
    margin-right: 20px;
    background-color: #e0e8ff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Footer */
footer {
    background-color: #003366;
    color: #fff;
    padding: 20px 40px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .cv-container {
        flex-direction: column;
    }

    .left-section, .right-section {
        width: 100%;
    }

    #projets {
        flex-direction: column;
    }

    .realisation-card {
        width: 100%;
    }

    .timeline-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .timeline-item .details {
        margin-left: 20px;
        width: 100%;
    }

    .timeline-item::before {
        left: -8px;
    }
}

/* Profile Photo */
.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.6s ease;
}

.profile-photo:hover {
    transform: rotateY(360deg);
}

/* Styles pour les images dans la section compétences */
.logo-banner img {
    width: 50px; /* Ajuste la largeur selon tes besoins */
    height: auto; /* Pour garder le ratio d'aspect */
    margin: 5px; /* Ajoute un peu d'espace entre les images */
}


.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.skills-container {
    display: flex;
    transition: transform 0.3s ease; /* Transition pour le slide */
    will-change: transform; /* Optimisation pour les animations */
}

.skill-category {
    min-width: 300px;
    padding: 20px;
    background-color: #fefefe;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 15px;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.skill-category.active {
    opacity: 1;
    transform: scale(1.05); /* Zoom léger pour l'élément actif */
}

button.prev, button.next {
    background-color: #003366;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

button.prev {
    left: 20px;
}

button.next {
    right: 20px;
}
